<section id="cover" class="container align-items-center align-content-center">
  <div class="card">
    <div class="row align-items-center align-content-center">
      <p>Hi everyone,</p>
      <p class="font-weight-bold text-primary">&nbsp;I am Anandhu Ajayakumar</p>
    </div>
  </div>
  <div class="card">
    <div class="row align-items-center align-content-center">
      <p>Wait For it!!!!!!!!!!!</p>
    </div>
  </div>
  <div class="card">
    <div class="row align-items-center align-content-center">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="card">
    <div class="row align-items-center align-content-center">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="card">
    <div class="row align-items-center align-content-center">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="card">
    <div class="row align-items-center align-content-center">
      <p>&nbsp;</p>
    </div>
  </div>
</section>
